.strategy{
    &-wrapper {
        display: flex;
    }
    
    &-content {
        max-width: 640px;
        width: 100%;
        background: url(../img/mix.jpg) no-repeat left bottom;
    }

    &-subtitle {
        margin: 0 auto 16px 0;
    }

    &-title {
        text-align: left;
    }
}